.carousel_container {
    width: 90%;
    height: auto;
    margin: 2% auto;
    padding-bottom: 2%;
    position: relative;
    overflow: hidden;
    background-color: #f1f1f1;
}
.carousel_container i {
    position: absolute;
    z-index: 1;
    font-size: 30px;
    color: white;
    cursor: pointer;
    background-color: gray;
    padding: 1%;
    border-radius: 50%;
    box-sizing: border-box;
}
#nextBtn {
    top: 48%;
    right: 0%;
}
#prevBtn {
    top: 48%;
}
.carousel_container .carousel_slider {
    width: 100%;
    display: flex;
    margin-top: 5%;
}
.carousel_slider .img {
    min-width: 100%;
    height:auto;
    display: flex;
    justify-content: space-around;
}
.carousel_slider .img .content {
    width: 20%;
    height: auto;
    text-align: center;
}
.carousel_slider .img .content img {
    width: 100%;
}